<div class="row kolor_white pad footerSection">
  <div class="col">
    <div class="row">
      <p class="kolor_white fs_21"> Sign up and get free content every week</p>
    </div>
    <div class="row mtp">
      <input type="text" class="form-control kolor_white" placeholder="Enter your email">

    </div>
    <div class="row mtp">
      <button id="btn-search" class="btn btn-info signUp" type="button"> Sign Up</button>
    </div>
  </div>
  <div class="col">
    <div class="row">
      <p class="kolor_white fs_21">Browse by categories</p>
    </div>
    <div class="row fs_11">
      <div class="col">
        <div class="row">
          <p>Graphics</p>
        </div>
        <div class="row">
          <p>PSDs</p>

        </div>
        <div class="row">
          <p>Icons</p>

        </div>
        <div class="row">
          <p>Templates</p>

        </div>
        <div class="row">
          <p>Themes</p>

        </div>
      </div>
      <div class="col">
        <div class="row">
          <p>Addons</p>

        </div>
        <div class="row">
          <p>Fonts</p>

        </div>
        <div class="row">
          <p>Textures</p>

        </div>
        <div class="row">
          <p>Patterns</p>

        </div>
        <div class="row">
          <p>Backgrounds</p>

        </div>
      </div>
      <div class="col">
        <div class="row">
          <p>Buttons</p>

        </div>
        <div class="row">
          <p>Forms</p>

        </div>
        <div class="row">
          <p>GUI</p>

        </div>
        <div class="row">
          <p>Navigation</p>

        </div>
        <div class="row">
          <p>UI kits</p>

        </div>
      </div>
      <div class="col">
        <div class="row">
          <p>Infographics</p>

        </div>
        <div class="row">
          <p>Graphs</p>

        </div>
        <div class="row">
          <p>Logos</p>

        </div>
        <div class="row">
          <p>Vectors</p>

        </div>
        <div class="row">
          <p>Cards</p>

        </div>
      </div>

    </div>
  </div>
</div>

<div class="row pad bgColorWhite kolor_grey">
    <div class="col">
        <div class="row">
                <p>Affiliates / Contributors / Press/Media / Careers / About / Contact</p>

        </div>
        <div class="row fs_12">
                <p>Copyright &copy; 2018 MyCompany All rights reserved</p>

            </div>
    </div>
    <div class="col text-right">
        
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
            <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
          </svg>&nbsp;&nbsp;

          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitter" viewBox="0 0 16 16">
            <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"/>
          </svg>&nbsp;&nbsp;

          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-google" viewBox="0 0 16 16">
            <path d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z"/>
          </svg>&nbsp;&nbsp;

          <svg width="16" height="16" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 39.641 39.641" style="enable-background:new 0 0 39.641 39.641;" xml:space="preserve"><g><path id="circle_1_" style="fill:#010002;" d="M10.732,34.285c0,2.964-2.402,5.356-5.371,5.356c-2.955,0-5.357-2.393-5.357-5.356
		c0-2.954,2.402-5.372,5.357-5.372C8.329,28.913,10.732,31.331,10.732,34.285z"/><path style="fill:#010002;" d="M22.77,39.342c-1.949,0-3.484-2.75-4.548-5.888c-0.938-2.766-2.501-5.296-4.618-7.416
		c-2.111-2.117-4.626-3.682-7.369-4.622C3.1,20.341,0.349,18.81,0.349,16.867s2.722-3.552,5.939-2.757
		c9.462,2.337,16.925,9.814,19.255,19.292C26.333,36.62,24.719,39.342,22.77,39.342z"/><path style="fill:#010002;" d="M36.513,39.342c-1.944,0-3.494-2.708-4.125-5.961C29.833,20.211,19.458,9.807,6.323,7.24
		c-3.252-0.635-5.96-2.182-5.96-4.123c0-1.942,2.701-3.54,5.973-3.017c17.017,2.723,30.49,16.221,33.203,33.267
		C40.059,36.64,38.458,39.342,36.513,39.342z"/></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>

         
    </div>
  

</div>
